﻿<!--<td><%= Id %></td>-->
<td><%= Name %></td>
<td><%= Channel1 %> ch</td>
<td ><%= Channel2 %> ch</td>
<!--<td><%= LastUpdate %> </td>-->
<td>
  <input type="button" class="btn btn-primary js-del-jalusi" value="Delete" />
</td>

